body {
  margin: 0;
  font-family: "sourcePro";
  font-size: 10px;
  text-align: center;
}
a {
  color: #000;
}
button{
    background: transparent;
      border: none;
      font-size: 2.2em;
}

// style for header----------------
#header {
  width: 100%;
  height: 86em;
  background-color: #fcdb00;
  .line_top_menu {
    height: 4.3em;
    padding-top: 6em;
    margin: 0 auto 25.8em auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #top_menu {
      background: transparent;
      border: none;
      font-size: 2.2em;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h2 {
      font-size: 3em;
      font-weight: 700;
      padding-left: 0.2em;
    }
    .social_button {
      font-size: 2.2em;
      a {
        margin-right: 1.6rem;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .headline{
      height: 44.4em;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1{
          font-size: 4.8em;
          font-weight: 700;
      }
    p{
        width: 23.75em;
          font-size: 2em;
          margin-bottom: 2.05em;
      }
      #start{
          display: block;
        width: 12.37em;
        height: 2.82em;
border: 2px solid #000000;
text-transform: uppercase;
font-weight: bold;
      }
      
  }
  .arrow{
    margin: 0;
    font-size: 3.2em;
}
}
// ---------------------------
// Tinyone features

#tinyone_features{
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    .row1{
        display: flex;
        .card{
            display: flex;
        }
    }
}