body {
  margin: 0;
  font-family: "sourcePro";
  font-size: 10px;
  text-align: center;
}
a {
  color: #000;
}
button {
  background: transparent;
  border: none;
  font-size: 2.2em;
}
h2 {
  margin: 0;
  font-size: 3.2em;
  font-weight: 700;
}
.sub_header {
  font-size: 2em;
}
h3 {
  font-size: 2.2em;
}
p {
  font-size: 1.6em;
}
.glyph_card {
  float: left;
  font-size: 5em;
  margin: 0;
}
.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#header {
  width: 100%;
  height: 86em;
  background-color: #fcdb00;
}
#header .line_top_menu {
  height: 4.3em;
  padding-top: 6em;
  margin: 0 auto 25.8em auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .line_top_menu #top_menu {
  background: transparent;
  border: none;
  font-size: 2.2em;
}
#header .line_top_menu .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .line_top_menu h2 {
  font-size: 3em;
  font-weight: 700;
  padding-left: 0.2em;
}
#header .line_top_menu .social_button {
  font-size: 2.2em;
}
#header .line_top_menu .social_button a {
  margin-right: 1.6rem;
}
#header .line_top_menu .social_button:last-child {
  margin-right: 0;
}
#header .headline {
  height: 44.4em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .headline h1 {
  font-size: 4.8em;
  font-weight: 700;
}
#header .headline p {
  font-size: 2em;
  margin-bottom: 2.05em;
}
#header .headline #start {
  display: block;
  width: 12.37em;
  height: 2.82em;
  border: 2px solid #000000;
  text-transform: uppercase;
  font-weight: bold;
}
#header .arrow {
  margin: 0;
  font-size: 3.2em;
}
#tinyone_features {
  margin: 11.6em auto 0 auto;
  width: 66.8%;
}
#tinyone_features .row1 {
  margin: 9em 0 8em 0;
  display: flex;
  flex-wrap: wrap;
}
#tinyone_features .row1 .card {
  width: 25em;
  margin-right: 5em;
}
#tinyone_features .row1 .card .glyph_card {
  font-size: 5em;
  margin: 0;
}
#tinyone_features .row1 .card .content_card {
  margin-left: 6.525em;
}
#tinyone_features .row1 .card .content_card h3 {
  margin: 0;
}
#tinyone_features .row1 .card .content_card p {
  text-align: start;
}
#tinyone_features .row1 .card:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
#pricing {
  width: 50.64%;
  margin: 23.4em auto 0 auto;
}
#pricing .row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 5em;
}
#pricing .row1 .card2 {
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#pricing .row1 .card2 .wrap-glyph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: #ebebeb;
}
#pricing .row1 .card2 .wrap-glyph:hover {
  transition: all ease 1s;
  color: #ffffff;
  background-color: #000;
}
#pricing .row1 .card2 .wrap-glyph i {
  font-size: 4.8em;
}
#pricing .row1 .card2 h3 {
  font-size: 2.4em;
  font-weight: 700;
}
#pricing .row1 .card2 p {
  font-size: 1.4em;
  margin-bottom: 3.2em;
}
#pricing .row1 .card2 .line {
  width: 5em;
  border-top: 2px solid #000;
}
#pricing .row1 .card2 button {
  /* Style for "btn-border" */
  width: 8.75em;
  height: 2.94em;
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #000000;
  background: transparent;
}
#our_works {
  width: 66.8%;
  margin: 19.6em auto 0 auto;
}
#our_works p {
  font-size: 2em;
  display: inline-block;
}
#our_works .row1 {
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 6.5em;
}
#our_works .card3 {
  position: relative;
  width: 22em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2em;
  margin-bottom: 2em;
}
#our_works .card3 .img {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 22em;
  color: #fff;
}
#our_works .card3 .img img {
  position: absolute;
}
#our_works .card3 .img i {
  padding-bottom: 0.45em;
  padding-left: 0.45em;
  font-size: 2.2em;
  z-index: 2;
}
#our_works .card3 .img i:last-child {
  padding-left: 0;
}
#our_works .card3 .img span {
  font-size: 1.4em;
  padding: 0 5em 0.71em 0.5em;
  z-index: 2;
}
#our_works .card3 .img span:last-of-type {
  padding-right: 0.5em;
  padding-left: 0;
}
#our_works .card3 h3 {
  margin-bottom: 0.55em;
  font-weight: 700;
}
#our_works .card3 p {
  margin: 0;
}
#our_team {
  width: 66.8%;
  margin: 24.4em auto 0 auto;
}
#our_team .row1 {
  margin: 7.6em auto 0 auto;
  justify-content: space-around;
}
#our_team .row1 .card4 {
  width: 16.3em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our_team .row1 .card4 .img {
  width: 12.8em;
}
#our_team .row1 .card4 h3 {
  font-size: 2.4em;
  margin-top: 1.75em;
  margin-bottom: 0.5em;
}
#our_team .row1 .card4 .sub {
  margin: 0;
  color: #898989;
  font-size: 1.6em;
}
#our_team .row1 .card4 p {
  color: #313841;
  font-size: 1.4em;
}
#our_team .row1 .card4 .social i {
  margin-right: 1.1em;
  font-size: 1.4em;
}
#our_team .row1 .card4 .social i:last-child {
  margin: 0;
}
#stats {
  margin: 19.5em auto 0 auto;
  width: 50.64%;
}
#stats .row1 {
  margin-top: 5.6em;
  justify-content: space-around;
}
#stats .row1 .card5 {
  display: flex;
  flex-direction: column;
  margin-right: 2em;
}
#stats .row1 .card5:last-child {
  margin-right: 0;
}
#stats .row1 .card5 i {
  font-size: 4.8em;
}
#stats .row1 .card5 h4 {
  font-size: 2.4em;
  margin-bottom: 0;
}
#stats .row1 .card5 p {
  color: #898989;
  font-size: 1.6em;
  margin: 0;
}
#stats .face {
  margin-top: 9.3em;
}
#stats .face h4 {
  margin-top: 0.75em;
  margin-bottom: 0;
  font-size: 2.4em;
}
#stats .face p {
  margin: 0;
  color: #898989;
  font-size: 1.6em;
}
#stats .quote {
  margin-top: 1.55em;
  color: #898989;
  font-size: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#stats .quote i:last-child {
  align-self: flex-end;
}
#stats .quote p {
  padding: 0;
}
#follow {
  margin: 21.4em auto 0 auto;
  width: 50.64%;
}
#follow .row1 {
  margin-top: 4.9em;
  justify-content: space-around;
}
#follow .row1 .card6 {
  width: 15.9em;
  display: flex;
  flex-direction: column;
}
#follow .row1 .card6 i {
  font-size: 2.2em;
}
#follow .row1 .card6 h3 {
  font-size: 2.4em;
  margin: 1em 0 0 0;
}
#follow .row1 .card6 p {
  color: #898989;
  font-size: 1.6em;
  margin: 0;
}
#follow .input_area {
  display: flex;
  flex-direction: column;
  margin: 4.3em auto 0 auto;
}
#follow .input_area input {
  font-size: 2.4em;
  margin-bottom: 1em;
  height: 2.29em;
  padding-left: 0.5em;
  color: #898989;
  border: 2px solid #000;
}
#follow .input_area textarea {
  font-size: 2.4em;
  color: #898989;
  border: 2px solid #000;
  padding-top: 1em;
  padding-left: 0.5em;
  margin-bottom: 1em;
}
#follow #send-mes {
  width: 17em;
  height: 3.44em;
  font-size: 1.6em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #000;
  color: #fff;
}
#footer {
  width: 100%;
  height: 122em;
  background-color: #000;
  margin-top: 9.5em;
  color: #fff;
}
#footer .footer {
  padding-top: 9.6em;
  width: 66.8%;
  margin: 0 auto;
}
#footer .input {
  margin: 4em auto 11.5em auto;
  height: 5.1em;
}
#footer .input #update {
  font-size: 1.6em;
  height: 100%;
  width: 42.34%;
  padding: 0 2em;
  border: none;
  color: #898989;
}
#footer .input #submit {
  font-size: 1.6em;
  font-weight: 700;
  height: 100%;
  width: 9.57%;
  border: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #fff;
}
#footer .footer-widjet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#footer .footer-widjet .footer-cart {
  margin-right: 4em;
  flex-grow: 1;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#footer .footer-widjet .footer-cart:first-child {
  flex-grow: 2;
  width: min-content;
}
#footer .footer-widjet .footer-cart:last-child {
  margin: 0;
}
#footer .footer-widjet .footer-cart p {
  margin: 0;
}
#footer .footer-widjet .footer-cart a {
  text-decoration: none;
  color: #fff;
}
