body {
  margin: 0;
  font-family: "sourcePro";
  font-size: 10px;
  text-align: center;
}
a {
  color: #000;
}
button {
  background: transparent;
  border: none;
  font-size: 2.2em;
}
#header {
  width: 100%;
  height: 86em;
  background-color: #fcdb00;
}
#header .line_top_menu {
  height: 4.3em;
  padding-top: 6em;
  margin: 0 auto 25.8em auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .line_top_menu #top_menu {
  background: transparent;
  border: none;
  font-size: 2.2em;
}
#header .line_top_menu .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .line_top_menu h2 {
  font-size: 3em;
  font-weight: 700;
  padding-left: 0.2em;
}
#header .line_top_menu .social_button {
  font-size: 2.2em;
}
#header .line_top_menu .social_button a {
  margin-right: 1.6rem;
}
#header .line_top_menu .social_button:last-child {
  margin-right: 0;
}
#header .headline {
  height: 44.4em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header .headline h1 {
  font-size: 4.8em;
  font-weight: 700;
}
#header .headline p {
  width: 23.75em;
  font-size: 2em;
  margin-bottom: 2.05em;
}
#header .headline #start {
  display: block;
  width: 12.37em;
  height: 2.82em;
  border: 2px solid #000000;
  text-transform: uppercase;
  font-weight: bold;
}
#header .arrow {
  margin: 0;
  font-size: 3.2em;
}
#tinyone_features {
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
}
#tinyone_features .row1 {
  display: flex;
}
#tinyone_features .row1 .card {
  display: flex;
}
